<header class="mb-auto text-white">
    <div class="navbar navbar-dark shadow-sm" style="background: #6c2d2c;">
        <div class="container">
            <a href="http://yourdwell.ru/" class="navbar-brand d-flex align-items-center">
                <strong>YourDwell</strong>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Главная страница</a>
                <a class="nav-link" href="{{ path('homepage') }}Каталог/" disabled>Каталог</a>
                <a class="nav-link" href="." disabled>Вернуться к резюме</a>
            </nav>
        </div>
    </div>
</header>