<header class="mb-auto text-white">
    <div class="navbar navbar-dark shadow-sm" style="background: #6c2d2c;">
        <div class="container">
            <a href="http://yourdwell.ru/" class="navbar-brand d-flex align-items-center nav-masthead">
                <h5 class="nav-link text-white float-md-start mb-0">{{ header_title }}<span class="lead text-muted"> symfony</span></h5>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Главная страница</a>
                <a class="nav-link" href="{{ path('homepage') }}Каталог/" disabled>Каталог</a>
                <a class="nav-link" href="https://lobnya.hh.ru/resume/263127a3ff09c054890039ed1f56784e496664" disabled>Вернуться к резюме</a>
            </nav>
        </div>
    </div>
</header>